<ul class="gallery">
    <!-- Список <li> с карточками изображений -->
    <div class="photo-card">
        <img src="" alt="" />
    
        <div class="stats">
            <p class="stats-item">
                <i class="material-icons">thumb_up</i>
                1108
            </p>
            <p class="stats-item">
                <i class="material-icons">visibility</i>
                320321
            </p>
            <p class="stats-item">
                <i class="material-icons">comment</i>
                129
            </p>
            <p class="stats-item">
                <i class="material-icons">cloud_download</i>
                176019
            </p>
        </div>
    </div>
</ul>

{{!-- <div class="country-container">
    {{#each this}}
    <ul>
        <h1>{{name}}</h1>
        <img class="country-flag" src="{{flag}}" alt="country flag">
        <p>Capital: {{capital}}</p>
        <p>Population: {{population}}</p>
        <p>Languages:
            {{#each languages}}
            <li>{{name}}</li>
            {{/each}}
        </p>
    </ul>
    {{/each}}
</div> --}}